### Sample test 1: LBS balance and DOT balance

#### LBS code : https://stats.bis.org/statx/srs/table/A4?c=&p=20191&m=S&f=TSKEYS
<pre>
1. Claim
Q:S:C:A:TO1:A:##:A:5A:A:##:N
    *          |         |
               |         To country
               From country               

2. Liability
Q:S:L:A:TO1:A:##:A:5A:A:##:N
    *          |         |
               |         To country
               From country
               
3. Balance
(Q:S:C:A:TO1:A:##:A:5A:A:##:N) - (Q:S:L:A:TO1:A:##:A:5A:A:##:N)
</pre>


#### DOT code
<pre>
1. Balance
Q:##:B:##
   |    |
   |    To country
   From country
</pre>

### Data retrieval

In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
mgclient = MongoClient(unicode_decode_error_handler='ignore')

In [3]:
res = mgclient.lbsdot.countrygroup.find({'code':'OECD'})
oecd_cclist = list(res.next()['cclist'].keys())

In [4]:
# Count number of claims on LBS for OECD countries

num_claim = mgclient.lbsdot.raw_lbsn2.count_documents({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"C",  #C: Claim
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})


num_liability = mgclient.lbsdot.raw_lbsn2.count_documents({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"L",  #L: Liability
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

print('#claim:{}, #liability:{}'.format(num_claim, num_liability))

#claim:806, #liability:814

In [5]:
claim_iter = mgclient.lbsdot.raw_lbsn2.find({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"C",  #C: Claim
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

In [6]:
claim_df = pd.DataFrame(list(claim_iter))

In [7]:
claim_df.head(1)

,_id,timeseries,FREQ,L_MEASURE,L_POSITION,L_INSTR,L_DENOM,L_CURR_TYPE,L_PARENT_CTY,L_REP_BANK_TYPE,L_REP_CTY,L_CP_SECTOR,L_CP_COUNTRY,L_POS_TYPE
0,5d3ed151e5c38b7bc2664030,"[[20120630, 5445.263], [20120930, 6194.032], [...",Q,S,C,A,TO1,A,AT,A,5A,A,AT,N

In [55]:
liability_iter = mgclient.lbsdot.raw_lbsn2.find({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"L",  #L: Liability
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

In [57]:
liability_df = pd.DataFrame(list(liability_iter))

In [58]:
liability_df.head(1)

,_id,timeseries,FREQ,L_MEASURE,L_POSITION,L_INSTR,L_DENOM,L_CURR_TYPE,L_PARENT_CTY,L_REP_BANK_TYPE,L_REP_CTY,L_CP_SECTOR,L_CP_COUNTRY,L_POS_TYPE
0,5d3edb1fe5c38b7bc2862ff0,"[[20120630, 9482.634], [20120930, 8974.387], [...",Q,S,L,A,TO1,A,AT,A,5A,A,AT,N

In [79]:
oecd_imfcclist = [x['imfnumeric'] for x in mgclient.lbsdot.countrytable.find({'iso2':{'$in':oecd_cclist}})]
oecd_imfcclist = [str(x) for x in oecd_imfcclist]
imfisocc_map = dict()
for x in mgclient.lbsdot.countrytable.find({'iso2':{'$in':oecd_cclist}}):
    imfisocc_map[str(x['imfnumeric'])] = x['iso2']

In [105]:
dotbalance_iter = mgclient.lbsdot.raw_dot.find({
    'freq': 'Q',
    'Country Code': {'$in': oecd_imfcclist},
    'Indicator Code': 'TBG_USD',
    'Counterpart Country Code': {'$in': oecd_imfcclist}
})

In [106]:
dotbalance_df = pd.DataFrame(list(dotbalance_iter))

In [107]:
dotbalance_df.head(1)

,_id,Country Name,Country Code,Indicator Name,Indicator Code,Counterpart Country Name,Counterpart Country Code,freq,timeseries
0,5d386cee1ce487b9eba5b302,Austria,122,"Goods, Value of Trade Balance, US Dollars",TBG_USD,France,132,Q,"[[19600331, -8300000.0], [19600630, -8500000.0..."

In [48]:
# Save dataframe to pickle files
liability_df.to_pickle('../data/liability_df.pkl')
dotbalance_df.to_pickle('../data/dotbalance_df.pkl')

### Convert to time series

In [9]:
claim_df.head(1)

,_id,timeseries,FREQ,L_MEASURE,L_POSITION,L_INSTR,L_DENOM,L_CURR_TYPE,L_PARENT_CTY,L_REP_BANK_TYPE,L_REP_CTY,L_CP_SECTOR,L_CP_COUNTRY,L_POS_TYPE
0,5d3ed151e5c38b7bc2664030,"[[20120630, 5445.263], [20120930, 6194.032], [...",Q,S,C,A,TO1,A,AT,A,5A,A,AT,N

In [90]:
def convert_timeseries(df, frcol, tocol, data ='lbs'):
    res = list()
    for i in range(df.shape[0]):
        raw = df.iloc[i,:]
        values = [x[1] for x in raw.timeseries]
        if len(values) < 10: # drop if number of values is less 10
            continue
        dates = [x[0] for x in raw.timeseries]
        if raw[frcol] == raw[tocol]:
            continue
        if data == 'dot':
            frto = imfisocc_map[raw[frcol]] + imfisocc_map[raw[tocol]]
        else:
            frto = raw[frcol] + raw[tocol]
        res.append(pd.Series(values, pd.to_datetime(dates, format='%Y%m%d'), name=frto))
        
    return pd.DataFrame(res).transpose()

In [97]:
df_lbs_clam = convert_timeseries(claim_df,'L_PARENT_CTY', 'L_CP_COUNTRY')
df_lbs_liab = convert_timeseries(liability_df,'L_PARENT_CTY', 'L_CP_COUNTRY')

In [76]:
intersect_cols = list(set(df_lbs_clam.columns) & set(df_lbs_liab.columns))
df_lbs_bal = df_lbs_clam[intersect_cols] - df_lbs_liab[intersect_cols]

In [108]:
df_dot_bal = convert_timeseries(dotbalance_df, 'Country Code','Counterpart Country Code', data ='dot')
df_dot_bal = df_dot_bal[intersect_cols]

In [111]:
df_lbs_bal.to_pickle('../data/df_lbs_bal.pkl')
df_dot_bal.to_pickle('../data/df_dot_bal.pkl')

### Generate network format data file

In [160]:
import math
from datetime import datetime

In [113]:
df_lbs_bal.head(1)

,FREE,IESK,IETR,AUSI,ITPT,CAIL,TRHU,DKPT,LULV,SEGB,...,KRSK,GRSI,ITCZ,JPSK,ATIL,AUDE,ESIL,PTSK,CHAU,LUCZ
2003-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
df_dot_bal.head(1)

,FREE,IESK,IETR,AUSI,ITPT,CAIL,TRHU,DKPT,LULV,SEGB,...,KRSK,GRSI,ITCZ,JPSK,ATIL,AUDE,ESIL,PTSK,CHAU,LUCZ
1960-03-31,NaN,NaN,-300000.0,NaN,200000.0,200000.0,600000.0,-700000.0,NaN,-6200000.0,...,NaN,NaN,NaN,NaN,600000.0,-9690000.0,NaN,NaN,3900000.0,NaN

In [220]:
df_dot_bal_fill = df_dot_bal.fillna(method='ffill')
df_lbs_bal_fill = df_lbs_bal.fillna(method='ffill')

In [215]:
dotcols = ['date','frcc','tocc','trdval']
lbscols = ['date','frcc','tocc','finval']

def append_raw(dt, dfraw, lstobj):
    for frtocc in dfraw: 
        val = dfraw[frtocc][0]
        if math.isnan(val) or val == 0.0:
            continue
        frcc = frtocc[:2]
        tocc = frtocc[2:]
        lstobj.append([dt,frcc,tocc,val])
        
def generate_network_format(df_dot, df_lbs):
    dotres = list()
    lbsres = list()
    
    countrycodes = list(df_lbs.columns)
    dates = [x.strftime('%Y%m%d') for x in list(set(df_lbs.index).union(set(df_dot.index)))]
    dates.sort()
    
    for dt in dates:
        dt2 = datetime.strptime(dt, '%Y%m%d')
        # DOT 
        dotraw = df_dot[df_dot.index == dt2]
        if len(dotraw) > 0:
            append_raw(dt, dotraw, dotres)
        # IBFS
        ibfsraw = df_lbs[df_lbs.index == dt2]
        if len(ibfsraw) > 0:
            append_raw(dt, ibfsraw, lbsres)     

    dot_nt_df = pd.DataFrame(dotres, columns=dotcols)
    lbs_nt_df = pd.DataFrame(lbsres, columns=lbscols)
    tot_nt_df = pd.merge(dot_nt_df,lbs_nt_df, on=['date','frcc','tocc'])
    
    return tot_nt_df

In [218]:
df_tot = generate_network_format(df_dot_bal, df_lbs_bal)

In [235]:
# pct_change function cannot handle negative values
df_dot_bal_fill_pcp = (df_dot_bal_fill - df_dot_bal_fill.shift())/df_dot_bal_fill.shift().abs()
df_lbs_bal_fill_pcp = (df_lbs_bal_fill - df_lbs_bal_fill.shift())/df_lbs_bal_fill.shift().abs()
df_tot_fill_pcp = generate_network_format(df_dot_bal_fill_pcp, df_lbs_bal_fill_pcp)

In [236]:
df_dot_bal_fill_sppcp = (df_dot_bal_fill - df_dot_bal_fill.shift(4))/df_dot_bal_fill.shift(4).abs()
df_lbs_bal_fill_sppcp = (df_lbs_bal_fill - df_lbs_bal_fill.shift(4))/df_lbs_bal_fill.shift(4).abs()
df_tot_fill_sppcp = generate_network_format(df_dot_bal_fill_sppcp, df_lbs_bal_fill_sppcp)

In [237]:
xls_writer = pd.ExcelWriter('../data/tot_nt_df.xlsx')
df_tot.to_excel(xls_writer, sheet_name='original_data', index=False)
df_tot_fill_pcp.to_excel(xls_writer, sheet_name='QOQ', index=False)
df_tot_fill_sppcp.to_excel(xls_writer, sheet_name='YOY', index=False)
xls_writer.close()

In [201]:
df_lbs_bal['ESDE']

2003-03-31        0.000
2003-06-30        0.000
2003-09-30        0.000
2003-12-31        0.000
2004-03-31        0.000
                ...
2017-12-31   -14543.891
2018-03-31   -17690.867
2018-06-30   -10115.936
2018-09-30   -13055.793
2018-12-31   -14636.621
Name: ESDE, Length: 63, dtype: float64

In [205]:
tot_nt_df.index = [datetime.strptime(x,'%Y%m%d') for x in tot_nt_df.date]

In [207]:
tot_nt_df.head()

                date frcc tocc       trdval    finval
2012-06-30  20120630   FR   EE   26276607.0    19.116
2012-06-30  20120630   IE   TR  152716123.0    -1.000
2012-06-30  20120630   IT   PT  464053259.0  1697.632
2012-06-30  20120630   CA   IL -265377510.0  -163.761
2012-06-30  20120630   DK   PT   -7245605.0  -101.980

In [226]:
foo = df_dot_bal_fill['IETR'].head()

In [227]:
foo

1960-03-31   -300000.0
1960-06-30   -300000.0
1960-09-30   -200000.0
1960-12-31   -400000.0
1961-03-31   -100000.0
Name: IETR, dtype: float64

In [230]:
foo.shift()

1960-03-31         NaN
1960-06-30   -300000.0
1960-09-30   -300000.0
1960-12-31   -200000.0
1961-03-31   -400000.0
Name: IETR, dtype: float64

In [233]:
(foo - foo.shift(4))/foo.shift(4).abs()

1960-03-31         NaN
1960-06-30         NaN
1960-09-30         NaN
1960-12-31         NaN
1961-03-31    0.666667
Name: IETR, dtype: float64