### Sample test 1: LBS balance and DOT balance

#### LBS code : https://stats.bis.org/statx/srs/table/A4?c=&p=20191&m=S&f=TSKEYS
<pre>
1. Claim
Q:S:C:A:TO1:A:##:A:5A:A:##:N
    *          |         |
               |         To country
               From country               

2. Liability
Q:S:L:A:TO1:A:##:A:5A:A:##:N
    *          |         |
               |         To country
               From country
               
3. Balance
(Q:S:C:A:TO1:A:##:A:5A:A:##:N) - (Q:S:L:A:TO1:A:##:A:5A:A:##:N)
</pre>


#### DOT code
<pre>
1. Balance
Q:##:B:##
   |    |
   |    To country
   From country
</pre>

### Data retrieval

In [1]:
import pandas as pd
from pymongo import MongoClient

In [1]:
mgclient = MongoClient(unicode_decode_error_handler='ignore')

In [13]:
res = mgclient.lbsdot.countrygroup.find({'code':'OECD'})
oecd_cclist = list(res.next()['cclist'].keys())

In [14]:
# Count number of claims on LBS for OECD countries

num_claim = mgclient.lbsdot.raw_lbsn2.count_documents({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"C",  #C: Claim
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})


num_liability = mgclient.lbsdot.raw_lbsn2.count_documents({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"L",  #L: Liability
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

print('#claim:{}, #liability:{}'.format(num_claim, num_liability))

#claim:806, #liability:814

In [18]:
claim_iter = mgclient.lbsdot.raw_lbsn2.find({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"C",  #C: Claim
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

In [19]:
claim_df = pd.DataFrame(list(claim_iter))

In [23]:
claim_df.head(1)

,_id,timeseries,FREQ,L_MEASURE,L_POSITION,L_INSTR,L_DENOM,L_CURR_TYPE,L_PARENT_CTY,L_REP_BANK_TYPE,L_REP_CTY,L_CP_SECTOR,L_CP_COUNTRY,L_POS_TYPE
0,5d3ed151e5c38b7bc2664030,"[[20120630, 5445.263], [20120930, 6194.032], [...",Q,S,C,A,TO1,A,AT,A,5A,A,AT,N

In [24]:
liability_iter = mgclient.lbsdot.raw_lbsn2.find({
    "FREQ":"Q",
    "L_MEASURE":"S",
    "L_POSITION":"L",  #L: Liability
    "L_INSTR":"A",
    "L_DENOM":"TO1",
    "L_CURR_TYPE":"A",
    "L_PARENT_CTY":{'$in': oecd_cclist},
    "L_REP_BANK_TYPE":"A",
    "L_REP_CTY":"5A",
    "L_CP_SECTOR":"A",
    "L_CP_COUNTRY":{'$in': oecd_cclist},
    "L_POS_TYPE":"N"  #N: Cross-border
})

In [25]:
liability_df = pd.DataFrame(list(liability_iter))

In [27]:
liability_df.head(1)

,_id,timeseries,FREQ,L_MEASURE,L_POSITION,L_INSTR,L_DENOM,L_CURR_TYPE,L_PARENT_CTY,L_REP_BANK_TYPE,L_REP_CTY,L_CP_SECTOR,L_CP_COUNTRY,L_POS_TYPE
0,5d3edb1fe5c38b7bc2862ff0,"[[20120630, 9482.634], [20120930, 8974.387], [...",Q,S,L,A,TO1,A,AT,A,5A,A,AT,N

In [42]:
oecd_imfcclist = [x['imfnumeric'] for x in mgclient.lbsdot.countrytable.find({'iso2':{'$in':oecd_cclist}})]
oecd_imfcclist = [str(x) for x in oecd_imfcclist]

In [43]:
dotbalance_iter = mgclient.lbsdot.raw_dot.find({
    'Country Code': {'$in': oecd_imfcclist},
    'Indicator Code': 'TBG_USD',
    'Counterpart Country Code': {'$in': oecd_imfcclist}
})

In [44]:
dotbalance_df = pd.DataFrame(list(dotbalance_iter))

In [46]:
dotbalance_df.head(1)

,_id,Country Name,Country Code,Indicator Name,Indicator Code,Counterpart Country Name,Counterpart Country Code,freq,timeseries
0,5d386cee1ce487b9eba5b301,Austria,122,"Goods, Value of Trade Balance, US Dollars",TBG_USD,France,132,A,"[[19481231, 1400000.0], [19491231, -9200000.0]..."

In [48]:
# Save dataframe to pickle files
liability_df.to_pickle('../data/liability_df.pkl')
dotbalance_df.to_pickle('../data/dotbalance_df.pkl')

### Convert data to time series object

In [4]:
import os
import zipfile

In [8]:
for x in os.listdir('../data/'):
    with zipfile.ZipFile(os.path.join('../data/', x), 'r') as zip_ref:
        zip_ref.extractall('../data/')

In [10]:
liab_df = pd.read_pickle('../data/liability_df.pkl')
dotb_df = pd.read_pickle('../data/dotbalance_df.pkl')

In [38]:
res = list()
for i in range(liab_df.shape[0]):
    raw = liab_df.iloc[i,:][['L_PARENT_CTY', 'L_CP_COUNTRY','timeseries']]
    ts = pd.Series([x[1] for x in raw[2]], index=pd.to_datetime([x[0] for x in raw[2]], format='%Y%m%d'))
    ts.name = raw[0] + raw[1]
    res.append(ts)

In [42]:
liab_df = pd.DataFrame(res).transpose()

In [46]:
liab_df

,ATAT,ATAU,ATBE,ATCA,ATCH,ATCL,ATCZ,ATDE,ATDK,ATEE,...,USMX,USNL,USNO,USPL,USPT,USSE,USSI,USSK,USTR,USUS
2003-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-06-30,9482.634,77.869,1897.931,221.631,11607.933,322.765,3274.327,67045.924,1030.735,34.933,...,31277.953,60353.325,7330.928,1611.567,2144.751,6103.933,128.268,541.303,1823.496,895200.614
2012-09-30,8974.387,75.536,1283.164,197.357,8987.159,54.500,3437.501,70155.222,85.313,42.173,...,33278.610,64652.955,7051.157,1470.008,2683.895,7085.638,133.175,599.764,1995.472,877208.589
2012-12-31,8392.641,72.105,1519.611,184.242,8472.099,5.605,3106.982,67533.383,94.708,11.834,...,30508.559,83193.004,11758.668,2448.153,2848.456,7462.906,179.061,346.627,3139.337,865359.283
2013-03-31,7478.688,76.448,1449.232,268.562,7601.346,183.120,3159.621,67045.418,103.580,35.248,...,30530.249,68322.337,10950.611,2195.150,3497.672,8324.431,256.500,597.975,1819.965,753706.208
2013-06-30,7510.236,80.995,1590.877,315.849,6631.383,367.294,3235.283,69558.952,143.845,36.058,...,26434.041,63437.858,9710.644,1771.400,2581.788,7512.750,349.912,212.221,2169.116,767430.019
2013-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-30,7423.432,79.493,1700.712,288.530,7267.745,339.350,3106.641,69472.232,593.522,52.064,...,26389.982,68234.116,13339.451,1572.897,3038.420,8499.273,478.723,198.416,2762.221,705771.562
2013-12-31,7626.600,81.883,1632.932,258.622,5518.609,355.614,2875.998,67908.960,633.126,34.967,...,27047.853,68918.636,13311.338,1246.536,2988.567,6321.758,552.211,283.508,2596.532,730134.879
2014-03-31,7506.076,91.674,1520.681,247.147,4402.059,160.450,3209.559,68850.205,180.004,90.023,...,27091.209,75142.570,13315.802,1384.413,3126.583,6644.663,593.754,689.982,2399.920,695308.605
2014-06-30,7287.850,132.345,1156.641,239.511,5146.891,65.900,2719.322,67275.465,142.710,84.146,...,27397.338,73712.498,13877.898,2131.891,3089.336,7442.539,597.139,293.821,2629.952,683631.380
2014-09-30,7345.510,69.036,741.919,190.278,4149.170,8.116,2444.071,62747.802,76.034,61.648,...,27065.658,74181.994,6077.563,1944.674,2609.726,5662.582,403.644,1056.928,2443.634,726334.261
2014-12-31,7010.039,51.574,534.023,211.499,3778.617,6.823,2361.267,50680.027,125.341,64.814,...,35090.964,78171.171,14051.609,1367.874,2612.169,7290.529,224.732,487.373,2641.403,731481.402
2015-03-31,6197.426,59.208,582.534,186.374,2817.064,6.845,2428.566,44374.222,126.196,57.925,...,39861.060,77371.302,12915.204,3761.651,2391.551,7117.091,120.876,751.717,2927.139,663166.368
2015-06-30,6226.623,63.461,426.077,281.246,2310.649,7.564,2660.405,43127.563,107.944,58.464,...,34327.271,77963.817,16379.714,4641.007,2645.551,6336.590,114.251,820.096,3807.167,701741.643
2015-09-30,5326.691,48.254,311.931,158.419,2317.802,6.554,2454.027,40659.011,85.516,46.441,...,36161.683,79890.826,13807.099,4155.526,2768.952,5662.923,935.976,888.363,3641.164,675632.074
2015-12-31,9193.833,46.628,242.527,141.697,2122.736,6.909,2429.006,38384.777,76.155,47.345,...,33698.409,76767.971,13508.897,2588.502,2817.539,8370.694,721.657,485.357,3278.807,684941.734
2016-03-31,8577.149,55.821,290.917,148.999,2506.827,6.694,2483.970,38710.337,74.543,65.075,...,41171.844,79680.360,16793.821,6898.164,2858.428,7312.840,713.524,511.676,3607.765,689681.315
2016-06-30,9120.749,47.998,313.368,165.818,2260.183,6.812,2204.647,38861.024,47.214,60.293,...,40380.358,86947.403,17203.466,6816.312,2809.967,7474.548,836.563,306.226,4020.612,719335.228
2016-09-30,6852.069,43.104,432.131,153.004,2774.409,6.612,1655.330,36666.507,106.437,79.435,...,38974.182,86017.592,15420.937,8898.486,2700.042,9226.802,478.299,649.537,3533.134,606410.544
2016-12-31,6338.776,52.040,1160.990,339.262,5583.900,8.788,4214.798,48080.538,522.282,100.731,...,39175.272,80726.493,16570.898,11242.198,3040.209,8069.498,558.788,735.834,3116.756,549507.009
2017-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31,6424.593,98.969,1192.145,327.512,6464.337,8.935,4292.171,49431.206,672.809,118.828,...,43004.781,83052.881,16744.924,7239.758,2532.247,6798.811,642.804,581.691,3091.911,528950.253
2017-06-30,6395.448,97.326,1327.509,262.928,6394.229,10.010,4867.626,50363.444,710.674,109.850,...,40949.121,90558.329,17248.673,7910.702,2701.740,7480.201,724.402,490.790,3465.940,572062.543
2017-09-30,6359.966,85.994,1139.587,297.800,5399.007,8.945,4409.540,44142.267,482.279,112.030,...,35536.742,100640.845,17761.324,8378.245,3543.648,8948.330,751.040,429.037,3736.925,591173.017
2017-12-31,5304.679,81.443,753.177,303.872,5321.086,9.303,4703.004,44320.893,495.810,101.785,...,33099.846,105223.067,22756.232,7188.003,3545.154,10756.508,772.421,535.900,3971.035,640716.980
2018-03-31,5893.240,94.341,730.936,288.700,5743.257,9.701,4927.909,48647.408,652.319,131.635,...,35151.046,103847.092,21351.595,9029.178,3143.053,9435.164,892.704,311.493,3308.506,624203.586
2018-06-30,5515.041,74.897,567.240,251.527,5294.375,8.662,4925.461,45118.327,626.191,113.892,...,32927.617,102212.381,17976.565,7504.612,3398.475,10379.946,725.124,469.310,4272.596,606551.761
2018-09-30,5822.573,75.177,638.992,229.911,5724.617,9.050,4674.402,47105.153,603.695,84.088,...,44474.388,103869.415,16983.007,9055.211,2847.375,11086.254,637.559,814.167,7632.295,578211.807
2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31,6052.238,55.612,599.799,363.677,4776.802,6.605,5073.429,48378.054,526.626,159.366,...,37481.710,100328.713,18047.832,7743.303,2762.629,10035.101,685.757,767.178,7325.464,677540.728

In [48]:
pd.DataFrame(res[0])

                ATAT
2012-06-30  9482.634
2012-09-30  8974.387
2012-12-31  8392.641
2013-03-31  7478.688
2013-06-30  7510.236
2013-09-30  7423.432
2013-12-31  7626.600
2014-03-31  7506.076
2014-06-30  7287.850
2014-09-30  7345.510
2014-12-31  7010.039
2015-03-31  6197.426
2015-06-30  6226.623
2015-09-30  5326.691
2015-12-31  9193.833
2016-03-31  8577.149
2016-06-30  9120.749
2016-09-30  6852.069
2016-12-31  6338.776
2017-03-31  6424.593
2017-06-30  6395.448
2017-09-30  6359.966
2017-12-31  5304.679
2018-03-31  5893.240
2018-06-30  5515.041
2018-09-30  5822.573
2018-12-31  6052.238